@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* CUSTOM STYLES START */
.nav-btn a {
  width: 116px;
  height: 40px;
}
.custom_btn {
  /* // --c:  #FF520D; */
  color: white;
  background-color: var(--custom-green-color);
  font-size: 16px;
  border: none;
  border-radius: 80px;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 0 5px;
  box-shadow: 0px 1px 1px 1px var(--custom-green-color);
}
.custom_btn span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: white;
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.custom_btn:hover {
  color: var(--custom-color) !important;
}
.custom_btn:hover span {
  transform: translateY(0) scale(2);
}
.custom_btn span:nth-child(1) {
  --n: 1;
}
.custom_btn span:nth-child(2) {
  --n: 2;
}
.custom_btn span:nth-child(3) {
  --n: 3;
}
.custom_btn span:nth-child(4) {
  --n: 4;
}
:root {
  --custom-green-color: #15a560;
}
.color-text {
  color: var(--custom-green-color);
}
.Custom-container {
  width: 80%;
  margin: 0 auto;
}
/* CUSTOM STYLES End */

.hero {
  background-image: url(images/ellipse-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
/* Header styling start */
.navbar {
  padding-top: 26px;
}
.nav-item a {
  color: black;
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 30px;
  position: relative;
  transition: 0.4s;
}
.nav-item a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
  width: 0;
  height: 2px;
  background-color: var(--custom-green-color);
  content: "";
}
.nav-item a:hover::after {
  width: 100%;
}
.nav-item:hover a {
  color: var(--custom-green-color) !important;
}
/* Header styling End */

/* banner Slider css */
.margin_top_16px {
  margin-top: 116px;
}
.banner_detail h1 {
  font-size: 65px;
  font-weight: bold;
  line-height: 90px;
}
.banner_detail img {
  width: 70% !important;
  margin-top: 40px;
}
.banner_detail p {
  margin-top: 40px;
  font-size: 18px;
  width: 65%;
  line-height: 30px;
}
.banner_buttons {
  margin-top: 102px;
}
.banner_buttons button {
  width: 165px;
}
.demo_btn {
  margin-left: 35px;
  transition: 0.4s;
  cursor: pointer;
  font-size: 18px;
  margin-left: 35px;
  display: flex;
  align-items: center;
}
.demo_btn:hover {
  color: var(--custom-green-color);
}
.demo_btn i {
  margin-right: 13px;
  font-size: 34px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--custom-green-color);
}
.owl-dots {
  position: absolute;
  bottom: 20px;
  right: 45rem;
  display: flex;
}
.side-img img {
  max-width: 565px;
}
/* partners_logo style */
.partners_logo {
  background-color: #cceadc;
  height: 102px;
  display: flex;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 100px;
  transition: 0.4s;
}
.company_logo img:hover {
  -webkit-filter: grayscale(100%);
  transform: scale(1.1);
  transition: 0.4s;
}
.company_logo img {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
}

/* Discover section style */
.custom-container-fluid {
  width: 90%;
  margin: 0 auto;
}

.title h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 18px;
}
.title p {
  font-size: 24px;
  font-weight: 500;
  width: 60%;
  margin: 0 auto;
}
.margin-top-68 {
  margin-top: 68px;
}
.box-detail {
  margin-left: 15px;
}
.box {
  height: 64px;
  width: 80px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-box {
  background-color: #f9d1d3;
}
.box-detail h4 {
  font-size: 18px;
  line-height: 26px;
}
.box-detail span {
  font-weight: 700;
  font-size: 22px;
}
.subtitle {
  margin-bottom: 48px;
  margin-top: 100px;
  font-size: 25px;
  font-weight: 700;
}
.cube_box {
  background-color: #cdecfb;
}
.light_green_box {
  background-color: #cfeaec;
}
/* Movement section style start */
.movoment {
  background-image: url(images/Frame.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 630px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movoment h5 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.movoment p {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  max-width: 63%;
  margin: 0 auto;
  margin-top: 33px;
}

.evolotion_card {
  background-color: #cce4d7;
  padding: 40px 40px;
  border-radius: 16px;
  margin-top: 13px;
}
.ready_join h2 {
  width: 80%;
  text-align: start;
}
.join_bg {
  background-color: #f8f6f6;
}
.padding-top-50 {
  padding-top: 55px;
}
.evolotion_card h6 {
  font-size: 21px;
  font-weight: 500;
}
.evolotion_card p {
  font-size: 17px;
}
.margin-bottom-border {
  border-bottom: 1px solid #bdd6cd;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Download app style */
.download-app{
  background-image: url(images/side-bg.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.store-icon-box{
  background-color: var(--custom-green-color);
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nomad-download{
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  margin-top: 11px;
  margin-bottom: 30px;
}
.store-icon-box-detail h3{
font-size: 32px;
font-weight: 600;
margin-bottom: 18px;
}
.store-icon-box-detail{
  margin-left: 15px;
}
.store-icon-box-detail h5{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 18px;
}
.store-icon-box-detail p{
  font-size: 23px;
  font-weight: 400;
}
.app-store-btn-img img{
  margin-top: 65px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-filter: grayscale(0%);
}
.app-store-btn-img img:hover{
  -webkit-filter: grayscale(100%);
  transform: scale(1.05);
  transition: 0.4s;
}

/* Notice section style */
.notice-bg{
  background: #ffa9ad;

  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
}
.speaker{
  background: #ff0000;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -60px;
}
.notice-bg h4{
  margin-top: 100px;
  margin-bottom: 19px;
  font-size: 28px;
  font-weight: 700;
}
.notice-bg p{
  font-size: 22px;
  font-weight: 700;
  line-height: 35px;
  max-width: 85%;
  margin-bottom: 100px;
  text-align: center;
}
.notice-bg a{
  text-decoration: none;
}